body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header {
    background-color: #d13044;
    padding: 2rem 0;
}

main {
    flex: 1;
}

.main-title{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

footer{
    background-color: #d13044;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a{
    text-align: right;
}