body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

}
.main-font{
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    color: #1a2530;
}

.action-button{
    color: #0077b6;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}



.navbar{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    padding: 1rem 2rem;
    margin-bottom: 30px;
    border-color: #222222;
    border-bottom: solid;
    border-width: 0.06rem;
}

.home-logo{
    text-decoration: none;
    font-size: 40px;
    padding: 8px;
    border-radius: 1rem;
}

.nav-links{
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;


}

.teleporters{
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;

}

.teleporters:hover{
    color: #19222B;
    transform: scale(1.08);
}

.tour-grid{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.tour-card{
    display: inline-block;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid;
    border-width: 1px;
    max-width: 1200px;
}

.tour-title{
    text-align: center;
    margin: -5px;
    margin-bottom: 30px;
}

.tour-price{

}

.lang-selector{
    display: flex;
    margin-left: auto;
}

.lang-button{
    border-radius: 9px;
    padding: 8px;
    cursor: pointer;
    margin-right: 140px;
}

main {
    flex: 1;
}

.main-title{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 0px;
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 2.5rem;
    transition: transform 0.2s ease, color 0.2s ease;

}

.main-title:hover{
    color: #263861;
    transform: scale(1.06);
}

footer{
    background-color: #ffffff;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: solid;
    border-width: 0.06rem;
}

.linkedin-btn{
    text-align: right;
    border-width: 2px;
    color: #1a2530;
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
}