body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar{
    grid-column: 3;
}


.home-logo{
    text-decoration: none;
    font-size: 40px;
    padding: 8px;
    border-radius: 1rem;
    margin-left: 20px;
    margin-right: auto;
    align-items: start;
}

.main-font{
    font-family: 'Inter', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    color: #1a2530;
}

.action-button{
    color: #0077b6;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.my-name{
    padding: 0px;
    margin-left: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    padding: 1rem 0rem;
    margin-bottom: 30px;
    border-color: #222222;
    border-bottom: solid;
    border-width: 0.06rem;
}

.nav-links{
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;


}

.teleporters{
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;

}

.teleporters:hover{
    color: #19222B;
    transform: scale(1.08);
}

.tour-grid{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.tour-card{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    border-radius: 26px;
    border: black solid;
    border-width: 1px;
    background-color: transparent;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.tour-card:hover{
    transform: scale(1.05);
}

.tour-location{
    text-align: right;
    text-decoration: none;
    margin-right: auto;
    }

.tour-details{
    display: flex;
    text-decoration: none;
    align-items: baseline;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
}

.tour-text{
    font-size: 15px;
    text-decoration: none;
}

.tour-title{
    text-align: center;
    text-decoration: none;
}

.tour-price{
    margin-left: auto;
    text-align: right;
    color: #303030;
    text-decoration: none;
}

.from-text{
    color: #3b3838;

}

.lang-selector{
    margin-right: 35px;
    display: inline-block;
    position: relative;
    align-items: center;
    margin-left: auto;
    width: 150px;
    transition: transform 0.2s ease;
}

.lang-dropdown{
    position: absolute;
    top: calc(100% + 8px);
    min-width: 100%;
    right: 0;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: opacity 0.3s ease, transform 0.5s ease, visibility 0.5s ease;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    background: white;
    border: 1.5px solid grey;
}

.lang-item{
    padding: 4px 0px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    position: relative;
    width: 100%;
    cursor: pointer;
    background-color: white;
    margin: 0;
    border: 0;

}

.lang-item:hover {
    outline: none;
    background-color: #f2f0f0;
    transform: scale(1.04);
}


.lang-selector:hover,
.lang-selector:focus-within{
    border: 1.5px grey;
    transform: scale(1.07)
}

.lang-selector:hover .lang-dropdown,
.lang-selector:focus-within .lang-dropdown{
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.lang-selector:hover .arrow-icon{
    transform: rotate(180deg);
}

.arrow-icon{
    transition: transform 0.6s ease;
    display: inline-block;
    flex-shrink: 0;
}

.lang-button {
    animation: smoothZoomIn 0.15s ease-out;
    will-change: transform, opacity;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 9px;
    padding: 8px 15px;
    cursor: pointer;
    background: transparent;
    border: 1.5px solid grey;
}

main {
    flex: 1;
}

.main-title{
    display: table;
    margin-bottom: 40px;
    margin-inline: auto;
    align-items: center;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 2.5rem;
    transition: transform 0.2s ease, color 0.2s ease;

}

.main-title:hover{
    color: #041f29;
    transform: scale(1.06);
}

footer{
    background-color: #ffffff;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: solid;
    border-width: 0.06rem;
}

.linkedin-btn{
    text-align: right;
    border-width: 2px;
    margin-right: 20px;
    color: #1a2530;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
}

@keyframes smoothZoomIn{
    0% {
        opacity: 0;
        transform: scale(0.97);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.not-found{
    margin: 0;
    text-decoration: none;
    font-size: 20px;
    border: #0077b6 solid 7px;
    background-color: #0077b6;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 4px 12px;
    margin-top: 20px;

}

.not-block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 85px 420px;
    align-items: center;
    padding: 40px;
}

.not-text{
    align-self: flex-start;
    text-align: left;
    margin: 0 0 24px 0;

}

.big-tour-card{
    border: black solid 1px;
    border-radius: 7px;
    margin: 25px 100px;
}