{% extends "permanent.html" %}
<head>
    <meta charset="UTF-8">
    <title>Tours</title>
</head>
<body>
<header>

    <!-- external permanent html header-->
</header>
{% block content %}
<main>
    <a class ="main-title main-font" href = "{{ url_for('booking') }}"> Book A Tour Today! </a>
    <section class ="tour-grid">
        {% for tour in tours %}
        <a class ="tour-card" href="{{ url_for('tour_destination', tour_name=tour.title) }}">
            <h2 class ="tour-title main-font">{{tour.title}}</h2>
            <div class ="tour-details">
                <span class="tour-location main-font tour-text">{{tour.location}}</span>
                <p class="tour-price tour-text">from
                <span class ="main-font tour-text"> {{tour.price[active_lang] }} </span>
                </p>
            </div>
        </a>
        {% endfor %}
    </section>
</main>
{% endblock %}
<!-- Permanent footer -->

</body>
</html>