{% extends "permanent.html" %}
<head>
    <meta charset="UTF-8">
    <title>Tours</title>
</head>
<body>
<header>

    <!-- external permanent html header-->

</header>
{% block content %}
<main>
    <a class ="main-title main-font" href = "{{ url_for('booking') }}"> Book A Tour Today! </a>
    <section class ="tour-grid">
        {% for tour in tours %}
        <div class ="tour-card">
            <h2 class ="tour-title main-font">{{tour.title}}</h2>
            <p class="tour-location main-font">{{tour.location}}</p>
            <p class="tour-price main-font">from {{tour.price[active_lang] }}</p>
            <p> remember to fix the columns to align items next time </p>
        </div>
        {% endfor %}
    </section>
</main>

{% endblock %}
<!-- Permanent footer -->

</body>
</html>