<!DOCTYPE html>
<html lang="{{ active_lang | default('en') }}">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale =1.0">
    <title>Title</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav class = "navbar">
        <a class ="home-logo main-font " href ="{{ url_for('home') }}">Tours</a>
        <div class ="nav-links">
            <a class ="teleporters main-font" href ="{{ url_for('home') }}">Home</a>
            <a class ="teleporters main-font" href ="{{ url_for('tours') }}">Tours</a>
            <a class ="teleporters main-font" href ="{{ url_for('about') }}">About</a>
            <a class ="teleporters main-font" href ="{{ url_for('booking') }}">Booking</a>
            <a class ="teleporters main-font" href ="{{ url_for('contact') }}">Contact</a>
        </div>
        <div class = "lang-selector">
            <button class = "lang-button main-font" type="button">
                {% for i in lang_info %}
                <span class ="main-font" style="font-size: 17px">{{ i }} ({{ active_lang }}) </span>
                {% endfor %}
                <svg class = "arrow-icon" viewBox ="0 0 24 24" width = "14" height = "14" stroke ="currentColor" stroke-width ="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>
            <div class ="lang-dropdown">
                {% for languages, attributes in language.items() %}
                    <a href="{{ url_for('set_language', lang=languages) }}" class ="lang-item main-font" style="font-size: 15px;">{{ attributes[0] }} ({{ languages}}) </a>
                {% endfor %}
            </div>
        </div>
        <div class="profile">
            <button class ="sign-in main-font" type ="button">
                Sign In
            </button>
        </div>
</nav>
</header>
<main class ="page-content">
    {% block content%}
    {% endblock %}
</main>
<div id="overlay" ></div>
<!-- LOGIN PAGE -->
<div id="login-form" class="form-template">
        <button type="button" class="cancel-button">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <line x1="4" y1="4" x2="20" y2="20" style="stroke: black; stroke-width: 2; stroke-linecap: round;" />
                <line x1="20" y1="4" x2="4" y2="20" style="stroke: black; stroke-width: 2; stroke-linecap: round;" />
            </svg>
        </button>
        <div class="login-head">
            <p class="details-info main-font"> Please enter your details below </p>
            <h1 class="main-font form-title">Welcome back!</h1>
        </div>
        <div class="info-template">
            <div id="login-ediv">
                <label class="main-font" id="email-label">Email</label>
                <form class="email-forms">
                     <input class ="login-shape" type="text" id="email-form" placeholder="Enter a valid email ">
                </form>
            </div>
            <div id="password-div">
                <label class="main-font" id="password-label">Password</label>
                <form class="password-forms" >
                    <input class ="login-shape" type="password" id="password-form" placeholder="Enter a password" size="14">
                    <button type="button" id="toggle-password">
                        <svg class="eye-icon" id="eye-open" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                        <svg class="eye-icon" id="eye-closed" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="3" y1="3" x2="21" y2="21"></line>
                            <path d="M2 12C2 12 6 5 12 5C18 5 22 12 22 12C22 12 18 19 12 19C6 19 2 12 2 12Z"></path>
                            <circle cx="12" cy="12" r="3.5"></circle>
                        </svg>
                    </button>
                </form>
            </div>
            <div id="error-messages">
                <p class="main-font error_message" id="empty-error">Fill in all the boxes</p>
                <p class="main-font error_message" id="login-error">Invalid email or password</p>
                <p class="main-font error_message" id="email-error">Make sure your email is the correct format</p>
            </div>
            <button type="button" class="main-font login-button" id="login-button">
                Login
            </button>
            <p id="account-text" class="main-font">Don't have an account?</p>
            <button type="button" class="main-font" id="create-account">Create an account</button>
        </div>
</div>
<!-- CREATE ACCOUNT PAGE  -->
<div class ="form-template" id="create-form">
    <button type="button" id="create-account-button" class="cancel-button">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <line x1="4" y1="4" x2="20" y2="20" style="stroke: black; stroke-width: 2; stroke-linecap: round;" />
                <line x1="20" y1="4" x2="4" y2="20" style="stroke: black; stroke-width: 2; stroke-linecap: round;" />
            </svg>
        </button>
    <div class="login-head">
        <p class="details-info main-font"> Please enter your details below </p>
        <h1 class="main-font form-title">Sign Up Today!</h1>
    </div>
    <div>
        <div class="names-create">
            <div class="name-div" id="left-name">
                <label class="main-font" id="firstname-id">First name</label>
                <form id="first-name">
                    <input class="name-input names-shape" id="c-first-name" placeholder="Enter first name" size="14">
                </form>
            </div>
            <div class="name-div" id="right-name">
                <label class="main-font" id="lastname-label">Last name</label>
                <form id="last-name">
                    <input class="name-input names-shape" id="c-last-name" placeholder="Enter last name" size="14">
                </form>
            </div>
        </div>
        <div id="c-email-div">
            <label class="main-font" id="email-c-label">Email</label>
            <form id="c-email-forms">
                 <input class ="login-shape" type="text" id="c-email-form" placeholder="Enter a valid email ">
            </form>
        </div>
        <div id="c-pass-div">
            <label class="main-font" id="password-c-label">Password</label>
            <form id="c-creat-pass">
                <input class ="login-shape" type="password" id="c-password-form" placeholder="Enter a password" size="14">
                <button type="button" id="c-toggle-password">
                    <svg class="eye-icon" id="c-eye-open" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                        <circle cx="12" cy="12" r="3" />
                    </svg>
                    <svg class="eye-icon" id="c-eye-closed" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="3" y1="3" x2="21" y2="21"></line>
                        <path d="M2 12C2 12 6 5 12 5C18 5 22 12 22 12C22 12 18 19 12 19C6 19 2 12 2 12Z"></path>
                        <circle cx="12" cy="12" r="3.5"></circle>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div id="log-back-div">
         <button class="login-button" id="create-account-logp">
            Create Account
        </button>
        <p class="main-font" id="log-back-text">Changed your mind?</p>
        <button class="main-font login-page-button" type="button" id="log-back-in">Log back in</button>
    </div>
</div>
<footer>
    <p class="main-font my-name" style="font-size: 16px;"> © 2026 - By Firas Costa</p>
    <a href = "https://www.linkedin.com/in/firas-costa-24b655329/" target="_blank"  class = "linkedin-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34" width="29" height="29" fill="currentColor">
            <path d="M34 2.5v29a2.5 2.5 0 0 1-2.5 2.5h-29A2.5 2.5 0 0 1 0 31.5v-29A2.5 2.5 0 0 1 2.5 0h29A2.5 2.5 0 0 1 34 2.5M10 13H5v16h5zm.45-5.5a2.88 2.88 0 0 0-2.86-2.9H7.5a2.9 2.9 0 0 0 0 5.8 2.88 2.88 0 0 0 2.95-2.81zM29 19.28c0-4.81-3.06-6.68-6.1-6.68a5.7 5.7 0 0 0-5.06 2.58h-.14V13H13v16h5v-8.51a3.32 3.32 0 0 1 3-3.58h.19c1.59 0 2.77 1 2.77 3.52V29h5z" ></path>
        </svg>
    </a>
</footer>
</body>
<script type ="text/javascript" src ="{{ url_for ('static', filename = 'main.js') }}" defer></script>
</html>